<section id="tech-spc" class="watch-effect watch-effect-new multi-function"><div
        class="watch-content"><div class="watch-container"><img
                alt="warch-image" loading="lazy" width="269" height="482"
                decoding="async" data-nimg="1"
                class="watch-img w-16 md:w-32 lg:w-48"
                src="https://tokk-ai-dev.bitcotapps.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb3.b7a2db24.png&w=640&q=75"
                style="color: transparent;"><div class="watch-data"
                style="top: 229px; width: 462px; left: calc(100% - 12px);"><div
                    class="line-dote"
                    style="top: -17px; left: -29px;"></div><div
                    class="watch-line"
                    style="width: 100%; top: -13px; left: -23px;"></div><div
                    class="watch-para"
                    style="opacity: 1; padding: 0px 20px 0px 143px; text-align: right;"><p>TOKK<sup>TM</sup>
                        is designed for easy<br>interactions with a second
                        Multi-<br>Function Button for added
                        <br>convenience.</p></div></div></div></div><ul
        class="scroll-wrap"><li data-index="0"></li><li data-index="1"></li><li
            data-index="2"></li><li data-index="3"></li></ul></section>