<div class="main-cont-wrapper mt-[80px]">
    
 
                
                
                <section
        id="overview" class="h-screen animation-fadeup"><div
            class="container mx-auto h-full"><div
                class="h-full flex flex-col justify-center ml-3 lg:ml-[112px] xl:ml-[224px] mr-3 max-w-[1000px]"
                style="opacity: 0.925983;"><h1 id="overview"
                    class="capitalize text-3xl md:text-7xl xl:text-title-lg font-bold text-left text-white mb-10 fw-800">Smarter,<br>
                    Better Lifestyle.</h1><h6 id="overview"
                    class="text-base md:text-4xl xl:text-subtitle-lg text-left md:mt-6 text-dimcolor font-medium">TOKK
                    AI is the wearable AI fitness and wellness coach that will
                    help you develop and maintain healthy habits regardless of
                    where you are in your fitness
                    journey.</h6></div></div></section>
                    <div
        class="img-step-container">
        <div class="img-step">
            <section id="overview"
                class="h-screen bg-tokk-thumbnails1 bg-50% lg:bg-auto  animation-fadeup"
                style="opacity: 0.168576; background-image: url(&quot;/_next/static/media/tokk-thumbnails1.f60f0350.png&quot;);"><div
                    class="container mx-auto h-full"><div
                        class="h-full flex flex-col justify-center ml-auto mr-2 max-w-[50%]"><h6
                            class="text-base md:text-4xl xl:text-subtitle-lg text-left md:mt-6 text-dimcolor font-medium"
                            style="opacity: 0.168576;"><span
                                class="text-white">Most people aren't moving
                                enough.</span> 75% of American adults fail to
                            meet the CDC guidelines for physical
                            activity.</h6></div></div></section></div>
                            
                            
                            <div
            class="img-step">
            
            
            <section id="overview"
                class="h-screen bg-tokk-thumbnails2 bg-50% lg:bg-auto animation-fadeup"
                style="opacity: 0.1; background-image: url(&quot;/_next/static/media/tokk-thumbnails2.2cd67476.png&quot;);"><div
                    class="container mx-auto h-full"><div
                        class="h-full flex flex-col justify-center ml-auto mr-2 max-w-[50%]"><h6
                            class="text-base md:text-4xl xl:text-subtitle-lg text-left md:mt-6 text-dimcolor font-medium"
                            style="opacity: 0.1;"><span class="text-white">A
                                little can go a long way.</span> Being active
                            for just 30 minutes a day is clinically proven to
                            greatly improve a range of health conditions.TOKK AI
                            is designed to help you get started and continue
                            moving.</h6></div></div></section>
                        
                        </div>
                       
                        <div
            id="overview"><section class="noticed-section" id="overview"><div
                    class="container mx-auto h-full"><div
                        class="mx-auto max-w-[1100px] flex justify-center lg:content-center"><div
                            class="w-2/5"><div
                                class="sticky top-0 text-center sticky-img"><div
                                    class="sticky-content"><img
                                        alt="Fixed Image" loading="lazy"
                                        width="1712" height="2172"
                                        decoding="async" data-nimg="1"
                                        class="max-w-ex lg:max-w-sm mx-auto rounded-lg shadow-lg relative z-10"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb1.316baac6.png&amp;w=1920&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb1.316baac6.png&amp;w=3840&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb1.316baac6.png&amp;w=3840&amp;q=75"
                                        style="color: transparent;"><div
                                        class="watch-circal1"
                                        style="width: 0px; height: 0px;"></div><div
                                        class="watch-circal2"
                                        style="width: 0px; height: 0px;"></div></div></div></div><div
                            class="noticed-content"><div class="inner-content"
                                style="opacity: 0;"><p
                                    class="text-red-600 content-section text-base md:text-4xl xl:text-subtitle-lg md:mt-6 font-medium show">"Hey,
                                    I've noticed you've been<br> sitting down
                                    for a while. How<br>about we take a break
                                    and<br> stretch for a few
                                    minutes?"</p></div><div
                                class="inner-content" style="opacity: 0;"><p
                                    class="text-white md:text-right content-section text-base md:text-4xl xl:text-subtitle-lg md:mt-6 font-medium show">”Yes.
                                    That sounds good, where <br> can I start
                                    today ?”</p></div><div class="inner-content"
                                style="opacity: 0;"><p
                                    class="text-red-600 content-section text-base md:text-4xl xl:text-subtitle-lg md:mt-6 font-medium">”Let‘s
                                    get you moving with a few <br> quick
                                    stretches to loosen up.<br> We‘ll focus on
                                    your neck, <br> shoulders, back, and
                                    legs.How<br> does that sound?”</p></div><div
                                class="inner-content" style="opacity: 0;"><p
                                    class="text-white text-right content-section text-base md:text-4xl xl:text-subtitle-lg md:mt-6 font-medium"
                                    id="section4">“My left shoulder is a bit
                                    stiff<br>today. Can we do something <br>
                                    else?“</p></div><div class="inner-content"
                                style="opacity: 0;"><p
                                    class="text-red-600 content-section text-base md:text-4xl xl:text-subtitle-lg md:mt-6 font-medium"
                                    id="section5">“Absolutely! We can focus
                                    on<br> some gentle stretches and<br>
                                    movements to help relieve that<br> stiffness
                                    in your left shoulder <br> without causing
                                    any discomfort.<br> Here‘s a sequence
                                    designed to <br> ease into
                                    it...“</p></div><p
                                class="content-section playBtn" id="section6"
                                style="opacity: 0;"><button
                                    class="min-w-9 text-white bg-brand-dark-light flex items-center gap-2 font-semibold w-full md:w-auto py-[14px] px-3 text-base md:text-xl border border-solid border-brand-dark-light rounded-full"><img
                                        alt="Play Image" loading="lazy"
                                        width="55" height="56" decoding="async"
                                        data-nimg="1" class="w-8"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fplay-btn-gray.f1dcfde2.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fplay-btn-gray.f1dcfde2.png&amp;w=128&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fplay-btn-gray.f1dcfde2.png&amp;w=128&amp;q=75"
                                        style="color: transparent;"> Watch Demo
                                    Videos</button></p></div></div></div></section></div></div><section
        id="overview"
        class="h-full py-20 flex  lg:py-40 intelligent-sections"><div
            class="container mx-auto h-full"><div
                class="h-full flex flex-col justify-center ml-3 lg:ml-[112px] xl:ml-[224px] mr-3 max-w-[1000px]"><div
                    class="mb-20" style="opacity: 0;"><h2
                        class="text-3xl md:text-7xl xl:text-title-lg  font-bold text-left text-white mb-10">Intelligent
                        and<br> Ever-Learning.</h2><p
                        class="text-base md:text-2xl xl:text-subtitle-lg text-light-100 text-32 dim-color">TOKKtm
                        AI is made to be worn all day. unobtrusive,<br> elegant
                        and smart, it will learn from your lifestyle habits <br>
                        and adapt to find the activities that are right for
                        you.</p></div><div class="text-center"><div
                        class="mb-20"><img alt="Fixed Image" loading="lazy"
                            width="831" height="843" decoding="async"
                            data-nimg="1"
                            class=" mx-auto rounded-lg relative z-10 w-4/5 itelligent-circle-img"
                            srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb2.ac94b0b7.png&amp;w=1080&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb2.ac94b0b7.png&amp;w=1920&amp;q=75 2x"
                            src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb2.ac94b0b7.png&amp;w=1920&amp;q=75"
                            style="color: transparent;"></div><p
                        class="md:text-2xl text-xl text-light-100 text-24 dim-color">Tokk
                        leverages the power of the <br> world‘s<span
                            class="text-white"> most advanced AI model
                        </span><br> and is built to keep your personal <br>
                        information private to
                        you.</p></div></div></div></section><section
        id="tech-spc" class="watch-effect watch-effect-new "><div
            class="watch-content"><div class="watch-container"><img
                    alt="warch-image" loading="lazy" width="269" height="482"
                    decoding="async" data-nimg="1"
                    class="watch-img w-16 md:w-32 lg:w-48"
                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb3.b7a2db24.png&amp;w=384&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb3.b7a2db24.png&amp;w=640&amp;q=75 2x"
                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb3.b7a2db24.png&amp;w=640&amp;q=75"
                    style="color: transparent;"><div class="watch-data"><div
                        class="watch-line"></div><div
                        class="watch-para"></div></div></div></div><ul
            class="scroll-wrap"><li data-index="0"></li><li
                data-index="1"></li><li data-index="2"></li><li
                data-index="3"></li></ul></section><section id="tech-spc"
        class="watch-effect watch-effect-flat "><div
            class="watch-content flat-watch"><div class="watch-container"><img
                    alt="warch-image" loading="lazy" width="406" height="220"
                    decoding="async" data-nimg="1"
                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb3.4.9f2a45ad.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb3.4.9f2a45ad.png&amp;w=828&amp;q=75 2x"
                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb3.4.9f2a45ad.png&amp;w=828&amp;q=75"
                    style="color: transparent;"><div class="watch-data"><div
                        class="watch-line"></div><div
                        class="watch-effect-flat-para"></div></div></div></div><ul
            class="scroll-wrap"><li data-index="0"></li><li
                data-index="1"></li></ul></section><section id="tech-spc"
        class="watch-effect watch-double-effect"><div class="watch-content"
            style="align-items: flex-end; padding-bottom: 75px;"><div
                class="watch-container"><img alt="warch-image" loading="lazy"
                    width="300" height="300" decoding="async" data-nimg="1"
                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb5.f58c581b.png&amp;w=384&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb5.f58c581b.png&amp;w=640&amp;q=75 2x"
                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fthumb5.f58c581b.png&amp;w=640&amp;q=75"
                    style="color: transparent;"><div class="watch-data"><div
                        class="watch-line"></div><div
                        class="watch-double-effect-para"></div></div></div></div><ul
            class="scroll-wrap"><li data-index="0"></li></ul></section><section
        id="tech-spc" class="h-full py-40"><div
            class="container mx-auto h-full"><div
                class="h-full flex flex-col justify-center ml-3 lg:ml-[112px] xl:ml-[160px] mr-2 max-w-[1000px]"><h2
                    class="capatalize text-3xl md:text-7xl xl:text-title-lg font-bold text-left text-white mb-10 fw-700"
                    style="opacity: 0.1;">TOKK AI is here for you.</h2><h6
                    class="text-base md:text-4xl xl:text-subtitle-lg text-left md:mt-6 text-dimcolor font-medium"
                    style="opacity: 0.1;">TOKK Al actively engages with you
                    through timely reminders and personalized encouragement.
                    Tokk keeps you motivated and on track with your
                    goals.</h6></div></div></section><section id="tech-spc"
        class="playlist-section"><div
            class="playlist-container flex-nowrap"><div class="playlist-content"
                style="opacity: 1;"><p
                    class="text-white text-base md:text-3xl p-3 xl:p-0 fw-600 text-24">"Would
                    you like me to play your <br> playlist?" <span
                        class="text-grays-color">TOKK AI streams your <br>
                        favorites audio-music, podcast, <br> audiobook, and
                        more</span></p></div><div class="playlist-videos"><div
                    class="playlist-videos-container"><div class="video-wrapper"
                        style="width: 100%; height: 100%;"><video
                            src="https://d244vcuzwdrlwb.cloudfront.net/856710-hd_1920_1080_30fps.mp4"
                            loop preload="auto" class
                            playsinline></video></div><div class="video-wrapper"
                        style="width: 0%; height: 0%;"><video
                            src="https://d244vcuzwdrlwb.cloudfront.net/3942468-hd_1920_1080_30fps.mp4"
                            loop preload="auto" class
                            playsinline></video></div><div class="video-wrapper"
                        style="width: 0%; height: 0%;"><video
                            src="https://d244vcuzwdrlwb.cloudfront.net/8148429-uhd_3840_2160_30fps.mp4"
                            loop preload="auto" class
                            playsinline></video></div><div class="video-wrapper"
                        style="width: 0%; height: 0%;"><video
                            src="https://d244vcuzwdrlwb.cloudfront.net/4512203-hd_1920_1080_25fps.mp4"
                            loop preload="auto" class
                            playsinline></video></div></div></div></div><ul
            class="scroll-wrap"><li data-index="0"></li><li
                data-index="1"></li><li data-index="2"></li><li
                data-index="3"></li></ul></section><section id="about"
        class="designed-section h-full pb-6 md:pb-24 animation-fadeup mb-[80px] md:mb-[100px] p-3 xl:p-0"><div
            class="container mx-auto h-full"><div
                class="h-full ml-3 lg:mx-auto mr-2 max-w-[1000px] pb-6 md:pb-24"><div
                    class="site-big-heading mb-12"><h2
                        class="mb-8 text-3xl md:text-7xl xl:text-title-lg font-bold text-left text-white fw-700"
                        style="opacity: 0.1; margin-top: 200px;">Designed for
                        you.</h2><p
                        class="text-grays-color text-base md:text-2xl xl:text-subtitle-lg font-semibold"
                        style="opacity: 0.1;">Your journey is unique, and Tokk
                        is designed to reflect that. Tokk is dedicated to
                        supporting you every step of the way, making your path
                        to wellness as personal and secure as
                        possible.</p></div><div class="pt-9"><div
                        class="w-100 grid grid-cols-1 md:grid-cols-2 gap-5"><div
                            class="mt-6 bg-brand-dark-light p-6 lg:px-20 lg:py-10 rounded-lg grey-card"><div
                                class="mb-6 bg-brand-danger w-32 h-32 rounded-full items-center flex"><img
                                    alt="Voiced interactions" loading="lazy"
                                    width="80" height="80" decoding="async"
                                    data-nimg="1" class="w-15 mx-auto"
                                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn3.29491732.png&amp;w=96&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn3.29491732.png&amp;w=256&amp;q=75 2x"
                                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn3.29491732.png&amp;w=256&amp;q=75"
                                    style="color: transparent;"></div><h6
                                class="text-white text-lg md:text-2xl font-medium mb-3 fw-600">Voiced
                                Interaction</h6><p
                                class="text-grays-color text-base md:text-xl text-20 ">With
                                TOKK AI, there‘s no need to learn a new app or
                                interface. it‘s simple, conversational, and easy
                                to use.</p></div><div
                            class="mt-6 bg-brand-dark-light p-6 lg:px-20 lg:py-10 rounded-lg  grey-card"><div
                                class="mb-6 bg-brand-danger w-32 h-32 rounded-full items-center flex"><img
                                    alt="Voiced interactions" loading="lazy"
                                    width="74" height="73" decoding="async"
                                    data-nimg="1" class="w-15 mx-auto"
                                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn2.ff84dfa3.png&amp;w=96&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn2.ff84dfa3.png&amp;w=256&amp;q=75 2x"
                                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn2.ff84dfa3.png&amp;w=256&amp;q=75"
                                    style="color: transparent;"></div><h6
                                class="text-white text-lg md:text-2xl font-medium mb-3 fw-600">Personalized
                                Experience </h6><p
                                class="text-grays-color text-base md:text-xl text-20 ">TOKK
                                AI meets you where you are and supports you on
                                your health journey, adapting activities and
                                moving at your pace.</p></div></div><div
                        class="w-100 grid grid-cols-1 md:grid-cols-2 gap-5"><div
                            class="mt-6 bg-brand-dark-light p-6 lg:px-20 lg:py-10 rounded-lg  grey-card"><div
                                class="mb-6 bg-brand-danger w-32 h-32 rounded-full items-center flex"><img
                                    alt="Voiced interactions" loading="lazy"
                                    width="51" height="59" decoding="async"
                                    data-nimg="1" class="w-15 mx-auto"
                                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn4.e7cb3ab1.png&amp;w=64&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn4.e7cb3ab1.png&amp;w=128&amp;q=75 2x"
                                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn4.e7cb3ab1.png&amp;w=128&amp;q=75"
                                    style="color: transparent;"></div><h6
                                class="text-white text-lg md:text-2xl font-medium mb-3 fw-600">Proactive
                                Support </h6><p
                                class="text-grays-color text-base md:text-xl text-20 ">TOKK
                                AI gently nudges you to move at the right times,
                                reminding you of your commitments and helping
                                you stay on track with your goals.</p></div><div
                            class="mt-6 bg-brand-dark-light p-6 lg:px-20 lg:py-10 rounded-lg  grey-card"><div
                                class="mb-6 bg-brand-danger w-32 h-32 rounded-full items-center flex"><img
                                    alt="Voiced interactions" loading="lazy"
                                    width="74" height="54" decoding="async"
                                    data-nimg="1" class="w-15 mx-auto"
                                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn1.860dc9cb.png&amp;w=96&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn1.860dc9cb.png&amp;w=256&amp;q=75 2x"
                                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn1.860dc9cb.png&amp;w=256&amp;q=75"
                                    style="color: transparent;"></div><h6
                                class="text-white text-lg md:text-2xl font-medium mb-3 fw-600">Safty
                                First</h6><p
                                class="text-grays-color text-base md:text-xl text-20 ">TOKK
                                AI is developed with health and fitness
                                professionals and follows clinical guidelines to
                                ensure activities are tailored to your
                                abilities.</p></div></div><div
                        class="w-100 grid grid-cols-1 gap-5"><div
                            class="mt-6 bg-brand-dark-light p-6 lg:px-20 lg:py-10 rounded-lg  grey-card"><div
                                class="mb-6 bg-brand-danger w-32 h-32 rounded-full items-center flex"><img
                                    alt="Voiced interactions" loading="lazy"
                                    width="48" height="62" decoding="async"
                                    data-nimg="1" class="w-15 mx-auto"
                                    srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn5.a54108f4.png&amp;w=48&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn5.a54108f4.png&amp;w=96&amp;q=75 2x"
                                    src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Ficn5.a54108f4.png&amp;w=96&amp;q=75"
                                    style="color: transparent;"></div><h6
                                class="text-white text-lg md:text-2xl font-medium mb-3 fw-600">Privacy
                                Ensured</h6><p
                                class="text-grays-color text-base md:text-xl text-20 ">Personal
                                information and health journey will never be
                                shared with third parties. TOKK AI uses a
                                private AI model to ensure that user's data
                                stays private.We adhere to use state of art
                                security and Privacy
                                standards.</p></div></div></div></div></div></section><section
        id="about"
        class="We-are-TOKK-section pb-6 md:pb-24 animation-fadeup  mb-[80px] md:mb-[100px] p-3 xl:p-0"><div
            class="container mx-auto h-full"><div
                class="h-full ml-3 lg:mx-auto mr-2 max-w-[1000px] pb-6 md:pb-24"><div
                    class="site-big-heading mb-12"><h2
                        class="mb-8 text-3xl md:text-7xl xl:text-title-lg font-bold text-left text-white fw-700"
                        style="opacity: 0.1;">We are TOKK.</h2><p
                        class="text-grays-color text-base md:text-2xl xl:text-subtitle-lg font-semibold"
                        style="opacity: 0.1;">Businesses don‘t make great
                        products. People do. Our team, comprised of practical
                        technologists with over 150 years of combined corporate
                        and startup experience, has propelled us forward without
                        the need for external funding.</p></div><div
                    class="pt-9"><div class="border-b-2 mb-12 pb-3"><h5
                            class="text-white text-2xl">The Team</h5></div><div
                        class="flex flex-row flex-wrap"><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center "><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="400" height="400"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser1.ca90c439.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser1.ca90c439.png&amp;w=828&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser1.ca90c439.png&amp;w=828&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Charles
                                    Speidel</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Excutive
                                    Leadership and <br>
                                    sales</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center "><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="400" height="400"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser2.c6719d8a.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser2.c6719d8a.png&amp;w=828&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser2.c6719d8a.png&amp;w=828&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Jerome
                                    Bonhomme</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Product
                                    Development</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center"><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="400" height="400"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser3.67fa810a.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser3.67fa810a.png&amp;w=828&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser3.67fa810a.png&amp;w=828&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Adam
                                    Fairless</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Chief
                                    Design Officer</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center"><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="400" height="400"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser4.4d7b03cd.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser4.4d7b03cd.png&amp;w=828&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser4.4d7b03cd.png&amp;w=828&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Allegra
                                    de Marzio</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Marketing
                                    and Customer <br>
                                    Service</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center"><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="896" height="896"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser5.abab6f53.png&amp;w=1080&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser5.abab6f53.png&amp;w=1920&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser5.abab6f53.png&amp;w=1920&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Claude
                                    Schmidt</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Product
                                    Management and Marketing</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center"><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="400" height="400"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser6.575e1cd8.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser6.575e1cd8.png&amp;w=828&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser6.575e1cd8.png&amp;w=828&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Bill
                                    Boyer</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Channel
                                    sales</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center"><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="400" height="400"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser7.88575e15.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser7.88575e15.png&amp;w=828&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser7.88575e15.png&amp;w=828&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Rose
                                    Bonhomme</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">UX
                                    Strategy and
                                    Design</p></div></div></div></div><div
                    class="pt-9 pb-9"><div class="border-b-2 mb-12 pb-3"><h5
                            class="text-white text-2xl">The
                            Advisors</h5></div><div
                        class="flex flex-row flex-wrap"><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center "><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="400" height="400"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser8.b92b5974.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser8.b92b5974.png&amp;w=828&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser8.b92b5974.png&amp;w=828&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Michael
                                    McCafferty</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Father
                                    of CRM: TELEMAGIC, <br> the first CRM
                                    product <br>(1985) Inc 500 company, <br>then
                                    exit</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center"><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="612" height="612"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=1920&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=1920&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Adviser</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Role
                                    Description</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center"><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="612" height="612"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full"
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=1920&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=1920&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text-white text-base md:text-xl mb-2">Dr
                                    Wellness</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Experienced
                                    Scholar / <br> physician / Practitioner of
                                    <br> well Being</p></div></div><div
                            class="basis-6/12 xl:basis-1/4 lg:basis-1/3 sm:basis-6/12"><div
                                class="mt-6 text-center "><div
                                    class="rounded-full"><img alt="icons"
                                        loading="lazy" width="612" height="612"
                                        decoding="async" data-nimg="1"
                                        class="m-auto mb-4 w-36 h-36 rounded-full "
                                        srcset="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=640&amp;q=75 1x, /_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=1920&amp;q=75 2x"
                                        src="/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fuser-placeholder.09523a1b.png&amp;w=1920&amp;q=75"
                                        style="color: transparent;"></div><h6
                                    class="text- text-base md:text-xl mb-2">Mr
                                    Engineering</h6><p
                                    class="text-grays-color text-sm md:text-md text-15 fw-500">Experienced
                                    Engineer/ <br> Innovator / Expert <br>
                                    Technological Product
                                    <br>Development</p></div></div></div></div></div></div></section></div>